{% extends 'AdminsBase.html.twig' %}

{% block Contenu %}
<div class="card card-custom">
	<div class="card-header">
		<h3 class="card-title">
			Selectionnez Le Technicien a Ajouter A L Equipe
		</h3>
	</div>
	<!--begin::Form-->
	<form class="form" action="{{path('AjouterMembre',{'id':equipe.id })}}" method="post">
		<div class="card-body">
			<div class="form-group row">
				<label class="col-form-label text-right col-lg-3 col-sm-12">Technicien</label>
				<div class=" col-lg-4 col-md-9 col-sm-12">
					<select class="form-control select2" id="kt_select2_1" name="param">
            {% for technicien in techniciens %}     
              <option value="{{technicien.Nom}}">{{technicien.Nom}}</option>
            {% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-lg-9 ml-lg-auto">
					<button type="submit" class="btn btn-primary mr-2">Enregistrer</button>
					<button type="reset" class="btn btn-secondary">Annuler</button>
				</div>
			</div>
		</div>
	</form>
	<!--end::Form-->
</div>
{% endblock %}


{% block Scripts %}
  {% include('admins_dashboard/Components/Scripts.html.twig') %}
  <script src="{{asset('Admins/Assets/js/pages/crud/forms/widgets/select2.js')}}"></script>
{% endblock %}
